<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<title>Home</title>
</head>
<body>
	<br>
	<center>
		<h2>AddressBook</h2><br><br><br>
			<form action="" method="get">
				<button type="submit" class="btn btn-primary" formaction="/register/">Register</button><br><br>
				<h5>OR</h5><br>
				<button type="submit" class="btn btn-primary" formaction="/login/">Login</button>
			</form>
	</center>
</body>
</html>